@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


body{
    background: black url('https://www.solofondos.com/wp-content/uploads/2015/12/Fondos-de-colores-neon.jpg');
}

.hole{
    border-radius: 100%;
    width: 2rem;
    margin: -1.5rem 0 0 -3rem;
    background-color: rgba(0, 0, 0, 0.884);
}

.myListContainer{
    width: 42rem!important;
}

.myListRow {
    padding: 2rem 0 2rem 5rem;
    border-radius: 20px;
    background-color: rgba(239, 243, 6, 0.801);
}

h1{
    font-family: 'Monoton', cursive;
     color: rgba(247, 9, 9, 0.445);
}

input{
    background-color: rgba(165, 160, 160, 0.288);
    caret-color: rgb(229, 255, 0);
    color: rgba(58, 56, 56, 0.685);
}

input:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px rgb(233, 235, 136);
}

::placeholder, .taskLeft {
    color: rgba(58, 56, 56, 0.685);
}

hr{
    background-color: rgba(18, 14, 241, 0.349);
}

.fa-trash-alt{
    color: rgba(247, 9, 9, 0.445);
}

.myTask{
    color: rgba(6, 33, 124, 0.89);
}
